@page {
		size:A4 portrait;
		margin:0.75cm;
	}

h1{
	font-size: 11pt;
/*	font-family: 'courier_primebold';
*/}

h2 {
	  font-size: 11pt;
	  background-color: black;
	  color: white;
/*	  font-family: 'courier_primebold';
*/	}

li{font-size: 11pt;
	line-height: 16pt;
}

p{
	font-size: 11pt;
	line-height: 16pt;
}

ul{
	font-size: 11pt;
	line-height: 16pt;

}

.footnotes{
	display: block;
	page-break-inside: avoid;
	font-size: 9pt;
}



.row_1_2_1_newchapter, .row_4{
	page-break-before: always;

}

.placeholder{
	page-break-before: always;
	display: block;

}

.footnotes{
	display: block;
	page-break-inside: avoid;
}

.imgtext{
	page-break-inside: avoid;
}

#homepageicons{
	display: none !important;
}

#contents{
	margin-left: 10cm;
	border: none;
	width: 40vw;
	left: 11cm;
	top:2cm;
	page-break-after: always;
}

#title{
	margin-left: 10cm;
	border:none;
	width: 8cm;
	left: 11cm;
	top: 2cm;
}

#abstracttitle{
	display: none;
}

#colophontitle{
	display: none;
}

#printbutton{
	display: none;
}

#abstract{
	display: none !important;
}

#colophon{
	display:block; 
	border: none;
	page-break-before: always;
	font-size: 9pt;
	left:1cm;
	top:19cm;
	width: 10cm;
	height: 15cm;
	overflow: none;
}

.colophonp{
	font-size: 9pt;

}

.icons_intext{
	display: none;
}

img{
/*	display:block;
*/	border: none;
	margin:none;
/*	page-break-inside: avoid;
*/}

#paradise{
	max-width: 50vw;
	max-height: 50vw;
}

#mappamundi, #org_2, #flowers_1, #flowers_2 {
	max-width: 85vw;
}

#tree, #library, #salamander, #syllog_1, #guido, #helpinghand1, #helpinghand2, #helpinghand3, #helpinghand4, #helpinghand5, #helpinghand6, #org_1, #org_3, #org_4, #discursive_5, #arspoetica_2, #arspoetica_3, #arspoetica_4, #shameless_1, #shameless_2, #shameless_3, #shameless_4{
	max-width: 25vw;
}

#army1, #army2, #syllog_2, #jonas, #rota, #discursive_1, #discursive_2, #discursive_4, #arspoetica_1{
	max-width: 55vw;
}

#paris_1, #paris_2, #paris_3, #paris_4, #paris_5, #paris_6{
	max-width: 55vw;
}

#zodiacman, #discursive_3 {
	max-width: 110vw;

}
