@page {
		size:A4 portrait;
		margin:0.5cm;
	}

h1{
	font-family: courier;
	font-size: 10pt;
}
h2 {
	  font-size: 10pt;
	  background-color: black
	}

p{
	font-size: 10pt;
	line-height: 16pt;
}

a{
	text-decoration: none;
}

.row_1_2_1_newchapter{
	page-break-before: always;

}

.icons_intext{
	page-break-before: always;
	page-break-after: always;

}

img{
	display:block;
}

.footnotes{
	display: block;
}

#homepageicons{
	display: none !important;
}